<!DOCTYPE html>
<html>
<head>
  <title>General Page</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

  <div class="general-container">
  <h1>Welcome to General Page</h1>
  <h2>Привіт це сторінка з іграми які ти можеш грати в різні ігри , але пам'ятайте це BETA.version</h2>
  </div>
  <div>
    <img class="image">
  </div>
  <div class="list2">
    <ul>
      <li><a href="/memory">Memory Game</a></li>
      <li><a href="/typing-text">Typing Text</a></li>
      <li><a href="/mouse">Mouse Game</a></li>
    </ul>
  </div>
</body>
</html>
