<!DOCTYPE html>
<html>
<head>
  <title>Draburst-social network</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="beta1" id="beta">BETA</div>
<!-- Меню -->

<div class="list">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</div>
</div>


  <div class="container">
    <h1>welcome to games from Draburst</h1>
    <p>Тут ви можете знайти різні ігри в які можете пограти! Всі ігри які тут є це beta тому що автор трохи невдало їх зробив)</p>
    
  </div>
</body>
</html>