<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
  <div class="list">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
  <div class="container">
    <h1>Register</h1>
    <form action="/register" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="nickname">Username</label>
      <input type="text" id="nickname" name="nickname">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <button type="submit" class="btn">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</body>
</html>
