<!DOCTYPE html>
<html>
<head>
  <title>Перевірка швидкості письма</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  
</head>
<body>
  <h1>Перевірка швидкості письма</h1>
  <div id="my-container">
    <textarea id="input" placeholder="Почніть писати тут..." disabled></textarea>
    <div id="timer">0 s</div>
    <div id="result"></div>
    <button id="start-button">Start the game</button>
    <button id="end-button" disabled>End the game</button>
  </div>

    <script src="static/script.js"></script>
</body>
</html>
